**/target/**
*.iml
*.class
**/.idea/**
*.properties


# compiled output
**/dist
**/tmp
**/out-tsc

# dependencies
**/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

# spring project
HELP.md
!**.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**