<div class="container" ng-controller="ListNoteController">

    <div class="card">

        <div class="card-header">
            Notes
        </div>

        <div class="card-body">

            <div class="card">

                <div class="accordion" id="accordionNote">

                    <div class="card">
                        <div class="card-header" id="headingTitle">
                            <h5 class="mb-0">
                                <button class="btn btn-link"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Add note
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingTitle"
                             data-parent="#accordionNote">
                            <div class="card-body">

                                <ng-form name="addNoteForm">
                                    <div class="form-group">
                                        <label for="titleId">Note Title</label>
                                        <input ng-model="note.title"
                                               required
                                               id="titleId"
                                               type="text"
                                               class="form-control"
                                               aria-describedby="basic-addon2">
                                    </div>

                                    <div class="form-group">
                                        <label for="descriptionId">Note Description</label>
                                        <textarea ng-model="note.description"
                                                  required
                                                  id="descriptionId"
                                                  class="form-control">
                                </textarea>
                                    </div>

                                    <button ng-click="addNote()"
                                            enabled="addNoteForm.$valid"
                                            ng-class="{disabled: !addNoteForm.$valid}"
                                            class="btn btn btn-primary"
                                            type="button">
                                        Add Note
                                    </button>
                                </ng-form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-5" ng-if="notes && notes.length !== 0">
                <div class="card-header">
                    List of Notes
                </div>

                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="note in notes">
                            <td>
                                <a ng-click="navigateToNote(note.id)"
                                   href="">
                                    {{note.title}}
                                </a>
                            </td>
                            <td>
                                <a ng-click="navigateToNote(note.id)"
                                   href="">
                                    {{note.description}}
                                </a>
                            </td>
                            <td class="float-right">
                                <button ng-click="deleteNote(note.id)"
                                        type="button"
                                        class="btn btn-danger">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

</div>