<div class="container">

  <div class="card">

    <div class="card-header">
      Notes
    </div>

    <div class="card-body">

      <div class="card">

        <div class="accordion" id="accordionNote">

          <div class="card">
            <div class="card-header" id="headingTitle">
              <h5 class="mb-0">
                <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                  Add note
                </button>
              </h5>
            </div>

            <div id="collapseOne"
                 class="collapse show"
                 aria-labelledby="headingTitle"
                 data-parent="#accordionNote">

              <div class="card-body">

                <form #addNoteForm="ngForm">
                  <div class="form-group">
                    <label for="titleId">Note Title</label>
                    <input [(ngModel)]="note.title"
                           name="title"
                           required
                           id="titleId"
                           type="text"
                           class="form-control"
                           aria-describedby="basic-addon2">
                  </div>

                  <div class="form-group">
                    <label for="descriptionId">Note Description</label>
                    <textarea [(ngModel)]="note.description"
                              name="description"
                              required
                              id="descriptionId"
                              class="form-control">
                    </textarea>
                  </div>

                  <button (click)="addNote(note)"
                          [disabled]="!addNoteForm.valid"
                          [ngClass]="{'disabled': !addNoteForm.valid}"
                          class="btn btn btn-primary"
                          type="button">
                    Add Note
                  </button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5" *ngIf="notes && notes.length !== 0">
        <div class="card-header">
          List of Notes
        </div>

        <div class="card-body">

          <table class="table table-striped">
            <thead>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            </thead>
            <tbody>
            <tr *ngFor="let note of notes">
              <td (click)="navigateToNote(note.id)">
                {{note.title}}
              </td>
              <td (click)="navigateToNote(note.id)">
                {{note.description}}
              </td>
              <td class="float-right">
                <button (click)="deleteNote(note.id)"
                        type="button"
                        class="btn btn-danger">
                  Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>

</div>
